*{
    margin:0;
}
/* --------- NAV SECTION ------------*/

nav{
    height: 70px;
    width: 100vw;
    /* padding: 0 10px; */
    background-color: aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

/* -- // BRAND-LOGO // -- */
.brand-logo{
    width:10%;
}
.brand-logo img{
    width: 70px;
    height: 70px;
}

/* -- // NAV-MENU // -- */
a{
    text-decoration: none;
}

.nav-menu{
    display: flex;
    gap:4vw;
}

.nav-menu h4{
    font-size: 1.3vw;
    color: black;
    /* margin-right: 4vw; */
}

/* -- // SOCIAL-MEDIA// -- */

.social-media{
    width: 10%;
    display: flex;
    gap:3vw;
    
}
.social-media a{
    display: flex;
    justify-content: center;
    align-items: center;
} 

.social-media i{
    /* padding: 3.5px; */
    font-size: 3vh;
    /* color: black; */
}

.fa-whatsapp{
    color:#128c7e;
}
.fa-facebook{
    color: #1877F2;
}