*{
    margin: 0;
    padding: 0;
}
/* -------NAV SECTION ------------*/

nav{
    background-color: aqua;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}
/* -- //BRAND-LOGO// -- */
.brand-logo{
    height: inherit;
    width: 10%;
    background-color: red;
    overflow: hidden;
}
img{
    height: 7rem;
}

a{
    text-decoration: none;
}

li{
    list-style-type: none;
}
/* -- //END - BRAND-LOGO// -- */
.nav-menu{ 
    width:70%;
    display: flex;
    align-items:center ;
}
ul{
    width: 100%;
    display: flex;
    justify-content: center;
    
}
li{
    display: inline;
    font-size: 1.4rem;
    margin-right:3rem;
}